/*- Nastav barvu pozadí, popředí
- Uprav velikost písma, zarovnání textu
- Přidej si vlastní písmo např. z Google Fonts
- Další vlastnosti dle vlastního uvážení*/
html {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 900px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    background-color:rgba(245,245,245);
    color: rgba(85,85,85);
    text-align:justify;
    line-height: 1.5;
    padding-right: 40px;
    padding-left: 40px;
}

h1 {
    color:rgba(245, 237, 237, 0.993);
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.uvod img {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 5px solid rgba(245, 237, 237, 0.993);
   
}

.uvod {
    border-radius: 7px;
    background: linear-gradient(45deg, rgba(116, 29, 29, 0.473), rgba(240, 128, 128, 0.555)), url(obr/brooklyn.jpeg);
    background-size: cover;
    background-position: center;
    padding:40px 40px 10px 40px;
}

h2 {
    font-size: 30px;
    color:lightcoral;
    margin-bottom: 0px;
}

.kontakt ul {
    list-style: none;
    display: flex;
    background-color:rgba(226, 199, 199);
    border-radius: 7px;
}

.kontakt li {
    margin-right: 40px;
    margin-left: 50px;
    padding: 25px;
}

.freepik {
    font-size: 15px;
    margin-top: 300px;
    text-align: center;
}

a {
    color:lightcoral;
}

nav ul {
    list-style: none;
    background-color:rgba(226, 199, 199);
    border-radius: 7px;
    padding-left: 0; /*vynuluje místo pro odrážku, která není vidět*/
}

nav a {
    color:#555;
    display: inline-block;
    padding: 0.5rem 5rem;
    text-decoration: none;
}

nav li {
    display: inline;
}

nav a:hover {
    color:coral;
    text-decoration: underline;
}

nav {
    position: sticky;
    top:0;
    text-align: center;
}

article img {
    float: left;
    margin-right: 1rem;
    border-radius: 7px;
}

h3 {
    font-size: 20px;
    clear: both;
    padding: 1.5rem 0 0 0;
    margin-top: 0px;
}

.cestovani {
    display: flow-root;
}

section {
    margin-top: 0.5rem;
}